// color

$white: white;
$lightgray: rgb(211, 211, 211);
$gray: gray;
$black: black;
$red: red;
$green: #32CD32;
$grey: rgb(104, 104, 104);
$darkgrey: rgb(90, 90, 90);
$dark:#070707;
$orange: rgb(255, 105, 50)