<div class="m-4 ">
  <div class="text-center description m-auto p-2">
    <h3>Désolé!</h3>
    <h4>Votre recherche n'a donnée aucun résultats...</h4>
  </div>
  <div class="m-auto p-2" style="width: 25rem;">
    <img src="{{asset('uploads/photo/vide.png')}}" alt="...">
  </div>
</div>