<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>{% block title %}Welcome!{% endblock %}</title>
   <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
   {% block stylesheets %}
   {{ encore_entry_link_tags('app') }}
   {% endblock %}

   {% block javascripts %}
   {{ encore_entry_script_tags('app') }}
   {% endblock %}
</head>

<body>
   <div id="scroll"></div>

   <header>
      {% block header %}
      {% include 'common/_navbar.html.twig' %}
      {% endblock %}
   </header>

   <div class="content py-4">
      {% block content %}
      {% endblock %}
   </div>

   <footer>
      {% block footer %}
      {% include 'common/_footer.html.twig' %}
      {% endblock %}
   </footer>

</body>

</html>